n8n/workflow.json
{
  "name": "Kanban Backlog Export",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kanban-export",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a11c128-621a-4fbc-8e9a-4c246c2ebc74",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "kanban-export"
    },
    {
      "parameters": {
        "url": "=http://localhost:3000/tasks?boardId={{$json.body.boardId}}",
        "options": {}
      },
      "id": "3e9cb74d-e457-4e2d-90a3-82955f482619",
      "name": "Fetch Tasks from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4a433de4-d68c-4c53-be96-0fd002e513a7",
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@kanban.local",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Exportación de Backlog - Kanban UseTeam",
        "options": {
          "attachments": "data"
        }
      },
      "id": "f0ecccf0-5913-4cfb-88c6-b1e2a4d5fd7d",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Export email sent successfully\" } }}",
        "options": {}
      },
      "id": "0f49f9fd-edb2-454b-856a-0c9f6d8db137",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Tasks from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tasks from API": {
      "main": [
        [
          {
            "node": "Convert to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to CSV": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}