n8n/workflow.json
{
  "name": "Kanban Backlog Export",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kanban-export",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3f137820-1691-4788-bad4-bcfee710efd9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 0],
      "webhookId": "kanban-export"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/tasks?boardId={{$json[\"boardId\"]}}",
        "options": {}
      },
      "id": "cff0bed3-1ca6-4d0d-88ec-0f3239bd0995",
      "name": "Fetch Tasks from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [256, 0]
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "id": "9e3d3e26-11c3-47e1-ad16-4350167ec0ad",
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [608, 0]
    },
    {
      "parameters": {
        "fromEmail": "noreply@kanban.local",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Exportación de Backlog - Kanban UseTeam",
        "options": {
          "attachments": "data"
        }
      },
      "id": "9b9bf00c-fc80-4acc-8ddc-b824145d1a0a",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [784, 0],
      "webhookId": "fb7c6c84-9f40-4a5a-8c16-fa3af7acf58c",
      "credentials": {
        "smtp": {
          "id": "qx6cGpf2w5EUtg2n",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Export email sent successfully\" } }}",
        "options": {}
      },
      "id": "6e942246-d6fe-41ac-81ae-2bd85e3bfde8",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4619384-97b9-43d1-8e38-fdeae9dec216",
              "name": "ID de tarea",
              "value": "={{ $json._id || $json.id }}",
              "type": "string"
            },
            {
              "id": "eeb6c1c4-f2cf-4f63-a507-4c6912722c56",
              "name": "Título",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "27d98011-9d85-418b-a7b7-419c6d7d76b6",
              "name": "Descripción",
              "value": "={{ ($json.description || '').replace(/\\r?\\n/g, ' ') }}",
              "type": "string"
            },
            {
              "id": "5c0db521-4a1a-4605-8cad-382ba396c210",
              "name": "Columna",
              "value": "={{   $json.column === '0-to-do'     ? 'TO DO'     : $json.column === '1-in-progress'       ? 'IN PROGRESS'       : $json.column === '2-done'         ? 'DONE'         : $json.column }}",
              "type": "string"
            },
            {
              "id": "dae67050-19bb-499b-9d35-0c9d98c21936",
              "name": "Fecha de creación",
              "value": "={{ new Date($json.createdAt).toISOString().slice(0, 19).replace('T', ' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [432, 0],
      "id": "17d2cfb3-7eb7-40bd-94b7-5fe15c811751",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Tasks from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tasks from API": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to CSV": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40ef6484-13aa-486a-ac3b-8043bfd35a06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edb7f37de37d76b566fdc9f7b8b4872104a0573f8d1a3d7ec261417a7b948550"
  },
  "id": "KJMWBaSr5fX5HxVP",
  "tags": []
}
